<div class="horizontal-scroll">

    <input type="text" class="form-control with-danger-addon" placeholder="Cauta..." [(ngModel)]="filter" (change)="applySimpleSearchFilter(filter)" *ngIf="showSimpleSearch === 'true'"/>

    <br *ngIf="showSimpleSearch === 'true'">

    <table class="table table-hover table-bordered">
        <thead>
            <tr class="black-muted-bg">
                <th>
                    <button *ngIf="!isAllChecked()" (click)="updateCheckState(true)" class="btn btn-default btn-sm" type="button"><i class="fa fa-check"></i></button>
                    <button *ngIf="isAllChecked()" (click)="updateCheckState(false)" class="btn btn-info btn-sm" type="button"><i class="fa fa-check"></i></button>
                </th>
                <th class="align-left">
                    <a (click)="applySort('internalCode')">
                        <i *ngIf="sortColumn !== 'internalCode'" class="fa fa-sort"></i>
                        <i *ngIf="((sortColumn === 'internalCode') && (sortDirection === 'asc'))" class="fa fa-sort-asc"></i>
                        <i *ngIf="((sortColumn === 'internalCode') && (sortDirection === 'desc'))" class="fa fa-sort-desc"></i>
                        Marca
                    </a>
                </th>
                <th class="align-left">
                    <a (click)="applySort('firstName')">
                        <i *ngIf="sortColumn !== 'firstName'" class="fa fa-sort"></i>
                        <i *ngIf="((sortColumn === 'firstName') && (sortDirection === 'asc'))" class="fa fa-sort-asc"></i>
                        <i *ngIf="((sortColumn === 'firstName') && (sortDirection === 'desc'))" class="fa fa-sort-desc"></i>
                        Prenume
                    </a>
                </th>
                <th class="align-left">
                    <a (click)="applySort('lastName')">
                        <i *ngIf="sortColumn !== 'lastName'" class="fa fa-sort"></i>
                        <i *ngIf="((sortColumn === 'lastName') && (sortDirection === 'asc'))" class="fa fa-sort-asc"></i>
                        <i *ngIf="((sortColumn === 'lastName') && (sortDirection === 'desc'))" class="fa fa-sort-desc"></i>
                        Nume
                    </a>
                </th>
                <th class="align-left">
                    <a (click)="applySort('departmentName')">
                        <i *ngIf="sortColumn !== 'departmentName'" class="fa fa-sort"></i>
                        <i *ngIf="((sortColumn === 'departmentName') && (sortDirection === 'asc'))" class="fa fa-sort-asc"></i>
                        <i *ngIf="((sortColumn === 'departmentName') && (sortDirection === 'desc'))" class="fa fa-sort-desc"></i>
                        Departament
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let tableItem of tableItems" (click)="tableItem.selected ? unselectItem(tableItem.item) : selectItem(tableItem.item)" [style.backgroundColor] = "'rgb(255, 255, 255)'">
                <td><i *ngIf="tableItem.selected" class="fa fa-check"></i></td>
                <td>{{ tableItem.item.internalCode }}</td>
                <td>{{ tableItem.item.firstName }}</td>
                <td>{{ tableItem.item.lastName }}</td>
                <td>{{ tableItem.item.departmentName }}</td>
            </tr>
    
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-9">
            <div class="ui-toolbar-group-left">
                <div class="text-left">
                    <pagination *ngIf="usePaging" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="pageSize" [maxSize]="maxSize" class="pagination-sm"
                                [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"
                                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ui-toolbar-group-left">
                <div class="text-right">
                    <br>
                    <h5 class="panel-subtitle">Total: {{ totalItems }}</h5>
                </div>
            </div>
        </div>
    </div>

</div>