<div class="widgets">
  <div class="row">
    <div class="col-md-12">
        <form role="form" #detailForm="ngForm" novalidate (ngSubmit)="saveItem();" *ngIf="item != null">
            <div class="form-group">
                <label for="code">Code</label>
                <input type="text" class="form-control" placeholder="code..." required maxlength="30"
                    [(ngModel)]="item.code" name="code" #code="ngModel">
                <div [hidden]="code.valid || code.pristine" class="alert alert-danger">
                    Code is required!
                </div>

            </div>
            <div class="form-group">
                <label for="name">Description</label>
                <input type="text" class="form-control" placeholder="descriere" required maxlength="100"
                    [(ngModel)]="item.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Description is required!
                </div>
            </div>
            <div class="form-group">
              <label for="badgeColor">Badge color:</label>
              <input type="text" class="form-control" placeholder="badgeColor" required
                     [(ngModel)]="item.badgeColor" name="badgeColor" #badgeColor="ngModel">
              <div [hidden]="badgeColor.valid || badgeColor.pristine" class="alert alert-danger">
                Badge color is required!
              </div>
            </div>
            <div class="form-group">
              <label for="badgeIcon">Badge icon:</label>
              <input type="text" class="form-control" placeholder="badgeIcon" required
                     [(ngModel)]="item.badgeIcon" name="badgeIcon" #badgeIcon="ngModel">
              <div [hidden]="badgeIcon.valid || badgeIcon.pristine" class="alert alert-danger">
                Badge color is required!
              </div>
            </div>
            <!-- <div class="form-group">
                <label for="parentCode">Parinte</label>
                <input type="text" class="form-control" placeholder="parinte" required maxlength="100"
                    [(ngModel)]="item.parentCode" name="parentCode" #name="ngModel">
                <div [hidden]="parentCode.valid || parentCode.pristine" class="alert alert-danger">
                    Parintele este obligatoriu!
                </div>
            </div>
            <div class="form-group">
                <label for="mask">Masca</label>
                <input type="text" class="form-control" placeholder="masca" required maxlength="100"
                    [(ngModel)]="item.mask" name="mask" #name="ngModel">
            </div> -->

            <div class="row">
                <div class="col-sm-6">
                    <div class="ui-toolbar-group-left">
                        <div *ngIf="!deleteConfirmationMode">
                            <button hideIfUnauthorized="DELETE|INVSTATES" type="button" class="btn btn-danger" (click)="deleteConfirmationMode=true" *ngIf="item.id > 0"><i class="fa fa-trash"></i> Sterge</button>
                        </div>
                        <div *ngIf="deleteConfirmationMode">
                            <button type="button" class="btn btn-danger" (click)="deleteItem()"><i class="fa fa-check"></i> Da</button>
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteConfirmationMode=false"><i class="fa fa-close"></i> Nu</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ui-toolbar-group-right">
                        <div class="text-right">
                            <div *ngIf="!deleteConfirmationMode">
                                <button type="button" class="btn btn-primary btn-sm" (click)="saveItem()" [disabled]="!detailForm.form.valid"><i class="fa fa-save"></i> Salveaza</button>
                                <button type="button" class="btn btn-outline-danger btn-sm" (click)="cancelChanges()"><i class="fa fa-close"></i> Inchide</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>
