<div class="widgets">
  <div class="row">
    <div class="col-md-12">
        <form role="form" #detailForm="ngForm" novalidate (ngSubmit)="saveItem();" *ngIf="item != null">
            <div class="form-group">
                <label for="code">Cod</label>
                <input type="text" class="form-control" placeholder="code" required maxlength="20"
                    [(ngModel)]="item.code" name="code" #code="ngModel">
            
            </div>
            <div class="form-group">
                <label for="name">Denumire</label>
                <input type="text" class="form-control" placeholder="descriere" required maxlength="100"
                    [(ngModel)]="item.name" name="name" #name="ngModel">
            </div>
            <div class="form-group">
                <label for="name">Model</label>
                <input type="text" class="form-control" placeholder="model" required maxlength="100"
                    [(ngModel)]="item.model" name="model" #model="ngModel">
            </div>
            <div class="form-group">
                <label for="name">Producator</label>
                <input type="text" class="form-control" placeholder="producator" required maxlength="100"
                    [(ngModel)]="item.producer" name="producer" #producer="ngModel">
            </div>
            <div class="form-group">
                <label for="name">Platforma</label>
                <input type="text" class="form-control" placeholder="platforma" required maxlength="100"
                    [(ngModel)]="item.platform" name="platform" #platform="ngModel">
            </div>
            <div class="form-group">
                <label for="name">Versiune</label>
                <input type="text" class="form-control" placeholder="versiune" required maxlength="100"
                    [(ngModel)]="item.version" name="version" #version="ngModel">
               
            </div>
            <div class="form-group">
                <label for="name">UUI</label>
                <input type="text" class="form-control" placeholder="uui" required maxlength="100"
                    [(ngModel)]="item.uui" name="uui" #uui="ngModel">
              
            </div>
            <div class="form-group">
                <label for="name">Serie</label>
                <input type="text" class="form-control" placeholder="serie" required maxlength="100"
                    [(ngModel)]="item.serial" name="serial" #serial="ngModel">
            </div>

            <!-- <div class="form-group">
                <label for="name">Tip</label>
                <input type="text" class="form-control" placeholder="tip" required maxlength="100"
                    [(ngModel)]="item.type" name="type" #type="ngModel">
            </div> -->


            <div class="input-group">
                <span class="input-group-prepend">
                  <button type="button" class="btn btn-secondary" (click)="askForDeviceType()"><i class="fa fa-search"></i> Tipuri dispozitive</button>
                </span>
                <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="tip dispozitiv..." [value]="selectedDeviceType != null ? selectedDeviceType.name : ''" disabled>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary"  (click)="setDeviceType(null)">Anuleaza</button>
                </span>
              </div>

              <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="ui-toolbar-group-left">
                        <div *ngIf="!deleteConfirmationMode">
                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteConfirmationMode=true" *ngIf="item.id > 0"><i class="fa fa-trash"></i> Sterge</button>
                        </div>
                        <div *ngIf="deleteConfirmationMode">
                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteItem()"><i class="fa fa-check"></i> Da</button>
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteConfirmationMode=false"><i class="fa fa-close"></i> Nu</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ui-toolbar-group-right">
                        <div class="text-right">
                            <div *ngIf="!deleteConfirmationMode">
                                <button type="button" class="btn btn-outline-primary btn-sm" (click)="saveItem()" [disabled]="!detailForm.form.valid"><i class="fa fa-save"></i> Salveaza</button>
                                <button type="button" class="btn btn-outline-danger btn-sm" (click)="cancelChanges()"><i class="fa fa-close"></i> Inchide</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>