.custom-dropdown {
  button {
    color: #FFFFFF;
    padding: 11px 16px;
    font-size: 14px;
    line-height: 18px;
    box-shadow: none;

    svg {
      width: 16px;
      margin-right: 8px;
    }
  }

  .dropdown {
    button {
      border: 1px solid #D9D9DF;
      border-radius: 8px;
      padding: 8px 8px;
      box-shadow: none;
      transition: .3s;

      svg {
        width: 16px;
        fill: #35354A;
      }
    }

    button.btn.dropdown-toggle.show {
      border: 1px solid #0B4FFF;
      transition: .3s;

      svg {
        fill: #0B4FFF !important;
      }
    }

    button:hover {
      border: 1px solid #0B4FFF;
      transition: .3s;

      svg {
        fill: #0B4FFF !important;
      }
    }
  }

  .dropdown-toggle::after {
    color: #8B8B9D;
  }
}

.custom-dropdown-open {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  li {
    hr {
      margin: 0;
      border: 1px solid #D9D9DF;
    }

    a {
      color: #35354A;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      padding: 16px;
    }

    svg {
      fill: #111052;
      width: 16px;
      margin-right: 12px;
    }
  }

  .data-dropdown {
    color: #35354A;
    padding: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    input {
      margin-right: 8px;
    }
  }

  .list-group-title {
    font-size: 14px;
    line-height: 18px;
    color: #8B8B9D;
    padding: 20px 16px 0 16px;
  }

  .separated-items {
    justify-content: space-between;
    width: 100%;
    display: flex;
    cursor: pointer;

    &:hover {
      cursor: pointer;
    }

    img {
      height: 24px;
    }
  }
}

div#mat-menu-panel-0,
div#mat-menu-panel-1 {
  padding: 0 !important;
  margin-top: 6px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgb(17 16 82 / 15%);
  border-radius: 8px;
  width: 100%;

  .data-dropdown {
    color: #35354a;
    padding: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    .separated-items {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .custom-dropdown-open li hr {
    margin: 0;
    border: 1px solid #D9D9DF !important;
  }
}

.mat-menu-content {
  padding: 0 !important;
}
