<div class="add-assets-modal allocation-action-modal upload-dialog">
  <mat-dialog-content class="mat-dialog-content">
    <div class="upload-file__container">
      <button type="button" class="btn btn-outline-success btn-sm" (click)="generateTemplate()" style="background-color: forestgreen; color: blanchedalmond; margin-bottom : 10px"><i class="fa fa-upload"></i> Template</button>
      <div class="upload--file---form">
        <div class="container-wrapper border-dashed d-grid cursor-pointer">
          <input #fileInput id="fileInput" hidden="true" type="file" accept=".csv,text/plain, text/csv, text/xls, text/excel, .xlsx, .xls, text/html, .pdf" single (change)="fileBrowseHandler($event)"/>
          <img src="assets/img/dnd/ic-upload-file.svg" alt="" class="mx-auto">
          <label for="fileInput" class="mx-auto">Rasfoieste...</label>
        </div>
        <div *ngIf="file" class="files-list">
          <div class="single-file">
            <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
            <div class="info">
              <h4 class="name">
                {{ fileInput?.files[0].name }}
              </h4>
              <p class="size">
                {{ formatBytes(fileInput?.files[0].size, 2) }}
              </p>
             <!-- <app-progress [progress]="file"></app-progress> -->
            </div>
            <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(fileInput)">
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn gray-btn-outline">Inchide</button>
    <button mat-button
            class="btn blue-btn"
            [disabled]="!file"
            (click)="closeDialog()">Incarca</button>
  </mat-dialog-actions>
</div>

