<div class="animated fadeIn">
    <br>
    <!-- {{ asset | json }} -->
    <div class="card">
      <div class="card-header">
        <!-- <app-document-type-drop-down-list #documentTypeDropDownList
        [dataSource]="documentTypeHttpService"
        selectionRequired="false"
        notifyOnChange="true"
        (selectionChanged)="setSelectedDocumentType($event)">
    </app-document-type-drop-down-list> -->
    <button  type="button" class="btn btn-dark btn-sm" (click)="selectOrder()" [disabled]="assetId > 0"><i class="fa fa-search"></i>&nbsp; PO</button>
        <div class="card-header-actions">
            <button [disabled]="!allowSaving || !isSaved || !sumMaxMaterialCostCenters" type="button" class="btn btn-success btn-sm" (click)="saveAsset()"><i class="fa fa-save"></i> Receptioneaza</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="cancelChanges()"><i class="fa fa-step-backward"></i> Inapoi</button>
        </div>
      </div>
      <div class="card-footer">
        <div class="col-sm-12">
          <h5>LISTA WBS</h5>
          <app-request-budget-forecast-material-view-ng-prime-validate #requestBudgetForecastList id="requestBudgetForecastList"
                  [dataSource]="requestBudgetForecastHttpService"
                  listTemplate="REQUESTBUDGETFORECASTS"
                  sortColumn="request.id"
                  sortDirection="desc"
                  dynamicQuery="true"
                  usePaging="true"
                  showSimpleSearch="false"
                  [pageSize]="100"
                  [rowSelection]="assetRowSelection"
                  (selectionChanged)="setSelectedItem($event)"
                  notifyOnChange="true">
              </app-request-budget-forecast-material-view-ng-prime-validate>
      </div>
      <div class="col-sm-12">
        <h5>LISTA PRODUSE DISPONIBILE</h5>
        <p-messages severity="warn" *ngIf="!sumMaxMaterialCostCenters">
          <ng-template pTemplate>
              <div class="p-ml-2">Cantitatea totala alocata pe centrele de cost pentru anumite produse depaseste cantitatea totala din comanda!</div>
          </ng-template>
      </p-messages>
        <app-request-budget-forecast-view-ng-prime-validate #requestBudgetForecastMaterialList id="requestBudgetForecastMaterialList"
        [dataSource]="requestBudgetForecastMaterialHttpService"
        showSimpleSearch="false"
        listTemplate="REQUESTBUDGETFORECASTMATERIALS"
        detailType=""
        sortColumn="material.code"
        sortDirection="asc"
        dynamicQuery="true"
        rowSelection="single"
        notifyOnChange="true"
        (selectionChanged)="onRequestBudgetForecastMaterialListSelectionChanged($event)"
        [pageSize]="100"
        usePaging="true">
        </app-request-budget-forecast-view-ng-prime-validate>
    </div>
    <br>
    <button type="button" class="btn btn-info btn-sm" (click)="selectCostCenterReception()" [disabled]="requestBudgetForecastMaterialList.selectedItems.length === 0"><i class="fa fa-search"></i>&nbsp;1. Adauga centre de cost</button>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <button type="button" class="btn btn-info btn-sm" (click)="selectEmployeeReception()" [disabled]="requestBFMaterialCostCenterList.selectedItems.length === 0"><i class="fa fa-search"></i>&nbsp;2. Adauga utilizator</button>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteRequestBFMaterialCostCenter()" [disabled]="requestBFMaterialCostCenterList.selectedItems.length === 0"><i class="fa fa-trash"></i> &nbsp;3. Sterge centru de cost</button>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteRequestBFMaterialEmployee()" [disabled]="requestBFMaterialCostCenterList.selectedItems.length === 0"><i class="fa fa-trash"></i> &nbsp;4. Sterge utilizator</button>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <button type="button" class="btn btn-success btn-sm" (click)="saveCostCenterValidated()" style="background: darkgreen; color: white;" [disabled]="requestBFMaterialCostCenterList.selectedItems.length === 0"><i class="fa fa-check-circle"></i>&nbsp;5. Actualizare</button>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <button type="button" class="btn btn-warning btn-sm" (click)="updateCostCenterMultiple()" style="background: darkgreen; color: white;" [disabled]="requestBFMaterialCostCenterList.selectedItems.length === 0"><i class="fa fa-check-circle"></i>&nbsp;6. Actualizare multiplu</button>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <br>
    <div class="col-sm-12">
      <h5>LISTA CENTRE DE COST MAPATE</h5>
      <app-request-budget-forecast-validate-list #requestBFMaterialCostCenterList id="requestBFMaterialCostCenterList"
      [dataSource]="requestBFMaterialCostCenterHttpService"
      showSimpleSearch="false"
      listTemplate="REQUESTBFMATERIALCOSTCENTERS"
      detailType=""
      sortColumn="costCenter.code"
      sortDirection="asc"
      dynamicQuery="true"
      rowSelection="single"
      notifyOnChange="true"
      [pageSize]="100"
      usePaging="true">
      </app-request-budget-forecast-validate-list>
  </div>
  <div class="col-sm-12" style="display: none">
    <app-request-budget-forecast-validate-list #requestBFMaterialCostCenterAllList id="requestBFMaterialCostCenterAllList"
    [dataSource]="requestBFMaterialCostCenterHttpService"
    showSimpleSearch="false"
    listTemplate="REQUESTBFMATERIALCOSTCENTERS"
    detailType="reception"
    sortColumn="costCenter.code"
    sortDirection="asc"
    dynamicQuery="true"
    rowSelection="single"
    notifyOnChange="true"
    [pageSize]= 100
    usePaging="true">
    </app-request-budget-forecast-validate-list>
</div>

            <div class="col-sm-12"  *ngIf="assetId > 0">
            <!-- Nav tabs -->

              <ul class="nav nav-pills justify-content-center">
                <li>
                  <a class="active" id="home-tab" data-toggle="tab" href="#operation" (click)="changeTab('operatii',$event)">Istoric operatii</a>
                </li>
                <!-- <li>
                  <a  id="profile-tab" data-toggle="tab" href="#component" (click)="changeTab('componente',$event)">Componente</a>
                </li> -->
                <li>
                  <a  id="messages-tab" data-toggle="tab" href="#files" (click)="changeTab('fisiere',$event)">Fisiere</a>
                </li>
                <!-- <li >
                  <a  id="settings-tab" data-toggle="tab" href="#label" (click)="changeTab('eticheta',$event)">Eticheta</a>
                </li> -->
                </ul>

                <div class="tab-content clearfix">
                <div class="tab-pane active" id="operation">
                    <div class="col-sm-12">
                      <div class="jumbotron bg-transparent">
                              <app-asset-op-detail-list #assetOpDetailList id="assetOpDetailList"
                              [dataSource]="assetOpHttpService"
                              showSimpleSearch="false"
                              listTemplate="ASSET_OPERATIONS"
                              detailType="details"
                              sortColumn="modifiedAt"
                              sortDirection="asc"
                              dynamicQuery="true"
                              rowSelection="single"
                              notifyOnChange="true"
                              (selectionChanged)="onAssetOpDetailListSelectionChanged($event)"
                              usePaging="true">
                          </app-asset-op-detail-list>
                      </div>
                    </div>
                </div>

                <div class="tab-pane" id="files" >
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="jumbotron bg-transparent">
                          <app-entity-file-list #entityFileList id="entityFileList"
                              [dataSource]="entityFileHttpService"
                              showSimpleSearch="false"
                              rowSelection="single"
                              notifyOnChange="true"
                              (selectionChanged)="onEntityFileListSelectionChanged($event)"
                              usePaging="false"
                              [inInvetoryReport] = "false">
                          </app-entity-file-list>
                          <br>
                          <!-- <app-entity-file-upload *ngIf="asset.id > 0"
                              [entityId]="asset.id"
                              [entityTypeCode]="entityTypeCode"
                              (uploadFinished)="refreshEntityFiles()">
                          </app-entity-file-upload> -->
                          <app-entity-file-download *ngIf="assetId > 0"
                              [entityFile]="entityFile">
                          </app-entity-file-download>
                      </div>
                    </div>
                  </div>
                </div>

                </div>
              </div>

      </div>
    </div>
  </div>
    <div class="modal fade" bsModal #assetCategoryDetailModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Adauga Categorie</h3>
                </div>
                <div class="modal-body">
                    <app-asset-category-detail #assetCategoryDetail id="assetCategoryDetail"
                                    [dataSource]="assetCategoryHttpService"
                                    (itemAdded)="assetCategoryAdded($event)"
                                    (changesCanceled)="assetCategoryAddCanceled()">
                   </app-asset-category-detail>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" bsModal #assetCategoryListModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Asset Category</h3>
                </div>
                <div class="modal-body">
                    <app-asset-category-list #assetCategoryList id="assetCategoryList"
                        [dataSource]="assetCategoryHttpService"
                        rowSelection="single"
                        notifyOnChange="false"
                        [pageSize]="5"
                        usePaging="true">
                    </app-asset-category-list>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAssetCategory()">Selecteaza</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="assetCategoryListModal.hide()">Inchide</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" bsModal #dictionaryItemListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Denumiri</h3>
           </div>
           <div class="modal-body">
               <app-dictionary-item-list #dictionaryItemList id="dictionaryItemList"
                   [dataSource]="dictionaryItemHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   [pageSize]="5"
                   usePaging="true">
               </app-dictionary-item-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedDictionaryItem()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="dictionaryItemListModal.hide()">Inchide</button>
           </div>
       </div>
   </div>
</div>



    <div class="modal fade" bsModal #assetTypeDetailModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Producatori</h3>
           </div>
           <div class="modal-body">
               <app-asset-type-detail #assetTypeyDetail id="assetTypeDetail"
                               [dataSource]="assetTypeHttpService"
                               (itemAdded)="assetTypeAdded($event)"
                               (changesCanceled)="assetTypeAddCanceled()">
              </app-asset-type-detail>
           </div>
       </div>
   </div>
</div>

<div class="modal fade" bsModal #assetTypeListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Tipuri</h3>
           </div>
           <div class="modal-body">
               <app-asset-type-list #assetTypeList id="assetTypeList"
                   [dataSource]="assetTypeHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   [pageSize]="5"
                   usePaging="true">
               </app-asset-type-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAssetType()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="assetTypeListModal.hide()">Inchide</button>
           </div>
       </div>
   </div>
</div>

    <div class="modal fade" bsModal #invStateListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Stari</h3>
           </div>
           <div class="modal-body">
               <inv-state-list #invStateList id="invStateList"
                   [dataSource]="invStateHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   [pageSize]="5"
                   usePaging="true">
               </inv-state-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedInvState()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="invStateListModal.hide()">Inchide</button>
           </div>
       </div>
   </div>
</div>

    <!--<div class="modal fade" bsModal #assetClassListModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Clasificari</h6>
                </div>
                <div class="modal-body">
                    <asset-class-list #assetClassList id="assetClassList"
                        [dataSource]="assetClassHttpService"
                        rowSelection="single"
                        notifyOnChange="false"
                        usePaging="true">
                    </asset-class-list>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAssetClass()">Selecteaza</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="assetClassListModal.hide()">Inchide</button>
                </div>
            </div>
        </div>
    </div>-->

    <div class="modal fade" bsModal #departmentDetailModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Adauga departament</h3>
                </div>
                <div class="modal-body">
                    <app-department-detail #departmentDetail id="departmentDetail"
                                    [dataSource]="departmentHttpService"
                                    (itemAdded)="departmentAdded($event)"
                                    (changesCanceled)="departmentAddCanceled()">
                   </app-department-detail>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" bsModal #departmentListModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Departamente</h3>
                </div>
                <div class="modal-body">
                    <app-department-list #departmentList id="departmentList"
                        [dataSource]="departmentHttpService"
                        rowSelection="single"
                        notifyOnChange="false"
                        [pageSize]="5"
                        usePaging="true">
                    </app-department-list>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedDepartment()">Selecteaza</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="departmentListModal.hide()">Inchide</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" bsModal #employeeDetailModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Referent nou</h3>
                </div>
                <div class="modal-body">
                    <app-employee-detail id="employeeDetail" #employeeDetail
                                    [dataSource]="employeeHttpService"
                                    (itemAdded)="employeeAdded($event)"
                                    (changesCanceled)="employeeAddCanceled()">
                   </app-employee-detail>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" bsModal #employeeListModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Employee</h3>
                </div>
                <div class="modal-body">
                    <app-employee-list #employeeList id="employeeList"
                        [dataSource]="employeeHttpService"
                        rowSelection="single"
                        notifyOnChange="false"
                        [pageSize]="5"
                        usePaging="true">
                    </app-employee-list>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedEmployee()">Selecteaza</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="employeeListModal.hide()">Inchide</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" bsModal #locationDetailModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Adauga Oras</h3>
                </div>
                <div class="modal-body">
                    <app-location-detail #locationDetail id="locationDetail"
                                    [dataSource]="locationHttpService"
                                    (itemAdded)="locationAdded($event)"
                                    (changesCanceled)="locationAddCanceled()">
                   </app-location-detail>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" bsModal #locationListModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Etaj</h3>
                </div>
                <div class="modal-body">
                    <app-location-list #locationList id="locationList"
                        [dataSource]="locationHttpService"
                        rowSelection="single"
                        notifyOnChange="false"
                        [pageSize]="5"
                        usePaging="true">
                    </app-location-list>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedLocation()">Selecteaza</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="locationListModal.hide()">Inchide</button>
                </div>
            </div>
        </div>
    </div>


<div class="modal fade" bsModal #costCenterReceptionListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Cost center</h3>
           </div>
           <div class="modal-body">
               <app-cost-center-list #costCenterReceptionList id="costCenterReceptionList"
                   [dataSource]="costCenterHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   [pageSize]="5"
                   usePaging="true">
               </app-cost-center-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedCostCenterReception()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="costCenterReceptionListModal.hide()">Inchide</button>
           </div>
       </div>
   </div>
</div>

<div class="modal fade" bsModal #employeeReceptionListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Utilizatori</h3>
           </div>
           <div class="modal-body">
               <app-employee-list #employeeReceptionList id="employeeReceptionList"
                   [dataSource]="employeeHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   [pageSize]="5"
                   usePaging="true">
               </app-employee-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedEmployeeReception()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="employeeReceptionListModal.hide()">Inchide</button>
           </div>
       </div>
   </div>
</div>

<div class="modal fade" bsModal #uomDetailModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
   <div class="modal-content">
       <div class="modal-header">
           <h3 class="modal-title pull-left">Adauga Cont</h3>
       </div>
       <div class="modal-body">
           <app-uom-detail #uomDetail id="uomDetail"
                           [dataSource]="uomHttpService"
                           (itemAdded)="uomAddCanceled()"
                           (changesCanceled)="uomAddCanceled()">
          </app-uom-detail>
       </div>
   </div>
</div>
</div>
<div class="modal fade" bsModal #uomListModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
   <div class="modal-content">
       <div class="modal-header">
           <h3 class="modal-title pull-left">Unitati de masura</h3>
       </div>
       <div class="modal-body">
           <app-uom-list #uomList id="uomList"
               [dataSource]="uomHttpService"
               rowSelection="single"
               notifyOnChange="false"
               [pageSize]="5"
               usePaging="true">
           </app-uom-list>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedUom()">Selecteaza</button>
           <button type="button" class="btn btn-outline-danger btn-sm" (click)="uomListModal.hide()">Inchide</button>
       </div>
   </div>
</div>
</div>

<div class="modal fade" bsModal #assetNatureListModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
   <div class="modal-content">
       <div class="modal-header">
           <h3 class="modal-title pull-left">Culori</h3>
       </div>
       <div class="modal-body">
           <app-asset-nature-list #assetNatureList id="assetNatureList"
               [dataSource]="assetNatureHttpService"
               rowSelection="single"
               notifyOnChange="false"
               [pageSize]="5"
               usePaging="true">
           </app-asset-nature-list>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAssetNature()">Selecteaza</button>
           <button type="button" class="btn btn-outline-danger btn-sm" (click)="assetNatureListModal.hide()">Inchide</button>
       </div>
   </div>
</div>
</div>

    <div class="modal fade" bsModal #roomDetailModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Adauga Shop</h3>
                </div>
                <div class="modal-body">
                    <app-room-detail id="roomDetail" #roomDetail
                                    [dataSource]="roomDetailHttpService"
                                    (itemAdded)="roomAdded($event)"
                                    (changesCanceled)="roomAddCanceled()">
                   </app-room-detail>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" bsModal #roomListModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Zona</h3>
                </div>
                <div class="modal-body">
                    <app-room-list #roomList id="roomList"
                        [dataSource]="roomDetailHttpService"
                        dynamicQuery="true"
                        rowSelection="single"
                        notifyOnChange="false"
                        [pageSize]="5"
                        usePaging="true">
                    </app-room-list>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedRoom()">Selecteaza</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="roomListModal.hide()">Inchide</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" bsModal #partnerListModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Vendor</h3>
                </div>
                <div class="modal-body">
                    <app-partner-list #partnerList id="partnerList"
                        [dataSource]="partnerHttpService"
                        rowSelection="single"
                        notifyOnChange="false"
                        [pageSize]="5"
                        usePaging="true">
                    </app-partner-list>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedPartner()">Selecteaza</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="partnerListModal.hide()">Inchide</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" bsModal #partnerDetailModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Adauga furnizor</h3>
                </div>
                <div class="modal-body">
                    <app-partner-detail #partnerDetail id="partnerDetail"
                                    [dataSource]="partnerHttpService"
                                    (itemAdded)="partnerAdded($event)"
                                    (changesCanceled)="partnerAddCanceled()">
                   </app-partner-detail>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" bsModal #confirmationModal="bs-modal" [config]="{backdrop: 'static'}"
        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" aria-label="Close" (click)="onConfirmationCanceled()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h6 class="modal-title">Confirmare</h6>
          </div>
          <div class="modal-body">
            {{ confirmationMessage }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" (click)="onConfirmationApproved()"><i class="fa fa-check"></i> Da</button>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="onConfirmationCanceled()"><i class="fa fa-close"></i> Nu</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" bsModal #dimensionListFinalModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Dimensiuni</h3>
           </div>
           <div class="modal-body">
               <app-dimension-list #dimensionListFinal id="dimensionListFinal"
                   [dataSource]="dimensionHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </app-dimension-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedDimensionFinal()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="dimensionListFinalModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #uomListFinalModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Modele Inventar</h3>
           </div>
           <div class="modal-body">
               <app-uom-list #uomListFinal id="uomListFinal"
                   [dataSource]="uomHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </app-uom-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedUomFinal()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="uomListFinalModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #companyListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Categorii</h3>
           </div>
           <div class="modal-body">
               <app-company-list #companyList id="companyList"
                   [dataSource]="companyHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </app-company-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedCompany()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="companyListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #accountListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Bal.sh.acct APC</h3>
           </div>
           <div class="modal-body">
               <account-list #accountList id="accountList"
                   [dataSource]="accountHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </account-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAccount()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="accountListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #expAccountListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Asset Class</h3>
           </div>
           <div class="modal-body">
               <exp-account-list #expAccountList id="expAccountList"
                   [dataSource]="expAccountHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </exp-account-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedExpAccount()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="expAccountListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #articleListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Location</h3>
           </div>
           <div class="modal-body">
               <article-list #articleList id="articleList"
                   [dataSource]="articleHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </article-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedArticle()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="articleListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #divisionListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Divizie</h3>
           </div>
           <div class="modal-body">
               <app-division-list #divisionList id="divisionList"
                   [dataSource]="divisionHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </app-division-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedDivision()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="divisionListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #countryListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Tara</h3>
           </div>
           <div class="modal-body">
               <app-country-list #countryList id="countryList"
                   [dataSource]="countryHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </app-country-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedCountry()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="countryListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #countyListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Judet</h3>
           </div>
           <div class="modal-body">
               <app-county-list #countyList id="countyList"
                   [dataSource]="countyHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </app-county-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedCounty()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="countyListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #cityListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Oras</h3>
           </div>
           <div class="modal-body">
               <app-city-list #cityList id="cityList"
                   [dataSource]="cityHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </app-city-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedCity()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="cityListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #budgetManagerListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">FY Start</h3>
           </div>
           <div class="modal-body">
               <budget-manager-list #budgetManagerList id="budgetManagerList"
                   [dataSource]="budgetManagerHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </budget-manager-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedBudgetManager()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="budgetManagerListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #typeListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Supracategorie</h3>
           </div>
           <div class="modal-body">
               <type-list #typeList id="typeList"
                   [dataSource]="typeHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </type-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedType()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="typeListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #materialListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Material</h3>
           </div>
           <div class="modal-body">
               <material-list #materialList id="materialList"
                   [dataSource]="materialHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </material-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedMaterial()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="materialListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #subTypeListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Tip asset</h3>
           </div>
           <div class="modal-body">
               <sub-type-list #subTypeList id="subTypeList"
                   [dataSource]="subTypeHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </sub-type-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedSubType()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="subTypeListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #assetClassListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Clasificare asset</h3>
           </div>
           <div class="modal-body">
               <app-asset-class-list #assetClassList id="assetClassList"
                   [dataSource]="assetClassHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </app-asset-class-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAssetClass()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="assetClassListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #admCenterListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Profit center</h3>
           </div>
           <div class="modal-body">
               <app-adm-center-list #admCenterList id="admCenterList"
                   [dataSource]="admCenterHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </app-adm-center-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAdmCenter()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="admCenterListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #regionListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">PC detaliu</h3>
           </div>
           <div class="modal-body">
               <app-region-list #regionList id="regionList"
                   [dataSource]="regionHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </app-region-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedRegion()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="regionListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #dimensionListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Latimi</h3>
           </div>
           <div class="modal-body">
               <app-dimension-list #dimensionList id="dimensionList"
                   [dataSource]="dimensionHttpService"
                   rowSelection="single"
                   notifyOnChange="false"
                   usePaging="true">
               </app-dimension-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedDimension()">Selecteaza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="dimensionListModal.hide()">Inchide</button>
           </div>
       </div>
    </div>
    </div>

    <div class="modal fade" bsModal #administrationListModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h3 class="modal-title pull-left">Locatie</h3>
           </div>
           <div class="modal-body">
               <app-administration-list #administrationList id="administrationList"
                   [dataSource]="administrationHttpService"
                   dynamicQuery="true"
                   rowSelection="single"
                   notifyOnChange="false"
                   [pageSize]="5"
                   usePaging="true">
               </app-administration-list>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAdministration()">Selecteza</button>
               <button type="button" class="btn btn-outline-danger btn-sm" (click)="administrationListModal.hide()">Inchide</button>
           </div>
       </div>
   </div>
</div>

<div class="modal fade" bsModal #interCompanyListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Supracategorie TRN</h4>
            </div>
            <div class="modal-body">
                <app-inter-company-list #interCompanyList id="interCompanyList"
                    [dataSource]="interCompanyHttpService"
                    rowSelection="single"
                    notifyOnChange="false"
                    [pageSize]="5"
                    usePaging="true">
                </app-inter-company-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedInterCompany()">Selecteaza</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="interCompanyListModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #insuranceCategoryListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">BS</h4>
            </div>
            <div class="modal-body">
                <insurance-category-list #insuranceCategoryList id="insuranceCategoryList"
                    [dataSource]="insuranceCategoryHttpService"
                    rowSelection="single"
                    notifyOnChange="false"
                    [pageSize]="5"
                    usePaging="true">
                </insurance-category-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedInsuranceCategory()">Selecteaza</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="insuranceCategoryListModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #projectListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">OS</h4>
            </div>
            <div class="modal-body">
                <project-list #projectList id="projectList"
                    [dataSource]="projectHttpService"
                    rowSelection="single"
                    notifyOnChange="false"
                    [pageSize]="5"
                    usePaging="true">
                </project-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedProject()">Selecteaza</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="projectListModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #orderListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Order</h4>
            </div>
            <div class="modal-body">
                <order-list #orderList id="orderList"
                    [dataSource]="orderHttpService"
                    rowSelection="single"
                    notifyOnChange="false"
                    [pageSize]="5"
                    detailType="detailui"
                    sortColumn="order.id"
                    sortDirection="asc"
                    dynamicQuery="true"
                    showSimpleSearch="true"
                    listTemplate="ORDERUI"
                    usePaging="true">
                </order-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedOrder()">Selecteaza</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="orderListModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #brandListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Brand</h4>
            </div>
            <div class="modal-body">
                <brand-list #brandList id="brandList"
                    [dataSource]="brandHttpService"
                    rowSelection="single"
                    notifyOnChange="false"
                    [pageSize]="5"
                    usePaging="true">
                </brand-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedBrand()">Selecteaza</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="brandListModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>
