//.custom-table {
//  max-width: 100%;
//  margin: 0 auto;
//  max-width: calc(100% + 20px) !important;
//  margin: 0 auto;
//  margin-right: -20 px;
//  width: calc(100% + 20px) !important;
//
//  thead {
//    background-color: #F3F3F6;
//    color: #111052;
//    font-size: 14px;
//
//    tr {
//      th {
//        border-bottom: 1px solid #D9D9DF;
//        color: #111052;
//        height: 40px !important;
//        padding: 8px 8px;
//        font-weight: bold;
//        font-size: 14px;
//        line-height: 18px;
//        border-left: 1px solid #D9D9DF;
//        vertical-align: middle;
//
//        &:first-child {
//          border-left: none;
//        }
//      }
//    }
//  }
//
//  tbody {
//    //.mat-header-row {
//    //  height: 90px !important;
//    //}
//
//    .table>:not(:first-child) {
//      border-top: 1px solid transparent !important;
//    }
//
//    tr {
//      td:first-child {
//        padding: 0;
//      }
//    }
//
//    tr {
//      border-bottom: 1px solid #D9D9DF;
//
//      th,
//      td {
//        color: #35354A;
//        font-size: 14px;
//        line-height: 18px;
//        padding: 15px 8px;
//        border-left: 1px solid #D9D9DF;
//        vertical-align: middle;
//
//
//        &:first-child {
//          border-left: none;
//        }
//      }
//    }
//
//    tr.mat-row, tr.mat-footer-row {
//      height: 56px;
//    }
//  }
//}
//
//.custom-table {
//  max-width: 100%;
//  margin: 0 auto;
//
//  .mat-header-row {
//    height: 40px !important;
//  }
//
//  th, td {
//    white-space: nowrap;
//  }
//
//  thead {
//    background-color: #F3F3F6;
//    color: #111052;
//    font-size: 15px;
//
//    tr {
//      th {
//        border-bottom: 1px solid #D9D9DF;
//        color: #111052;
//        padding: 8px 8px;
//        font-weight: bold;
//        font-size: 14px;
//        line-height: 18px;
//        border-left: 1px solid #D9D9DF;
//        vertical-align: middle;
//
//        &:first-child {
//          border-left: none;
//        }
//      }
//    }
//  }
//
//  tbody {
//    tr {
//      border-bottom: 1px solid #D9D9DF;
//
//      th,
//      td {
//        color: #35354A;
//        font-size: 14px;
//        line-height: 18px;
//        padding: 15px 8px;
//        border-left: 1px solid #D9D9DF;
//        vertical-align: middle;
//
//
//        &:first-child {
//          border-left: none;
//        }
//      }
//    }
//  }
//}

//.padding-compact {
//  td {
//    padding: 0px 8px !important;
//  }
//
//  tr.mat-row, tr.mat-footer-row {
//    height: 40px !important;
//  }
//}

//body.light-mode .custom-table thead th,
//body.light-mode .custom-table thead td {
//  background-color: #F3F3F6;
//}

.table-footer {
  width: 100%;
  justify-content: space-between;
  padding: 12px 20px;

  .footer-results-text {
    p {
      font-size: 14px;
      line-height: 18px;
      color: #35354A;
    }
  }

  .page-item {
    margin-left: 8px;
    height: 32px;

    .page-link {
      background: #F3F3F6;
      border: 1px solid #D9D9DF;
      //height: 32px;
      color: #35354A;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      border-top-left-radius: 8px !important;
      border-top-right-radius: 8px !important;
      border-bottom-left-radius: 8px !important;
      border-bottom-right-radius: 8px !important;
    }

    &:hover {
      .page-link {
        background-color: #0B4FFF;
        color: #FFF;
        border: 1px solid transparent;
      }
    }
  }
}

.form-control {
  width: 100%;
  border: 1px solid #C6C6D5;
  box-sizing: border-box;
  border-radius: 8px;
  color: #8B8B9D;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 16px;
}

.form-select {
  display: block;
  width: 100%;
  -moz-padding-start: calc(0.75rem - 3px);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 8px !important;
  color: #8B8B9D !important;
  font-size: 14px !important;
  line-height: 18px !important;
  padding: 11px 16px !important;
  text-align: left;
}
