.width-50 {
  width: 50px !important;
}

.required-label-symbol {
  color: $danger-color;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.mr-15 {
  margin-right: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

::ng-deep .form-group-select_wrapper {
  button {
    width: 100%;
    border: 1px solid #C6C6D5;
    box-sizing: border-box;
    border-radius: 8px !important;
    color: #8B8B9D !important;
    font-size: 14px !important;
    line-height: 18px !important;
    margin:0 !important;

    padding: 4px 8px !important;
    text-align: left;
    height: 42px;

    span:first-child {
      width: 100%;
      justify-content: space-between;
    }
  }
}
