<div class="input-group" *ngIf="itemSelection === 'single'">
    <h4>{{ selectedCountry != null ? selectedCountry.name : "-" }}</h4>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-icon" (click)="selectRegions()"><i class="fa fa-ellipsis-h"></i></button>
    </span>
</div>
<div class="btn-group flex-dropdown" dropdown *ngIf="itemSelection === 'multiple'">
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="selectRegions()">Tara</button>
    <button type="button" class="btn btn-default" dropdownToggle addToggleClass="true">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" dropdownMenu>
        <li class="dropdown-item"><a (click)="clearCountrySelection('INI')">Sterge toate<i class="fa fa-times"></i></a></li>
        <li *ngFor="let country of selectedCountries" class="dropdown-item"><a (click)="removeFromRegionSelection(country)">{{ country.name }} <i class="fa fa-times"></i></a></li>
    </ul>
</div>

<div class="modal fade" bsModal #countryListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Tara</h4>
            </div>
            <div class="modal-body">
                <country-list #countryList id="countryList"
                    [dataSource]="countryHttpService"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    usePaging="true">
                </country-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedCountries()">Selecteaza</button>
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="countryListModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>