<div class="widgets">
  <div class="row">
    <div class="col-md-12">
        <form role="form" #detailForm="ngForm" novalidate (ngSubmit)="saveItem();" *ngIf="item != null">
            <div class="form-group">
                <label for="code">Cod</label>
                <input type="text" class="form-control" placeholder="cod..." required maxlength="20"
                    [(ngModel)]="item.code" name="code" #code="ngModel">
                <div [hidden]="code.valid || code.pristine" class="alert alert-danger">
                   <!-- {{'VALIDATE_MESSAGE_COD'  |translate}} -->
                </div>
            </div>
            <div class="form-group">
                <label for="name">Denumire</label>
                <input type="text" class="form-control" placeholder="denumire..." required maxlength="100"
                    [(ngModel)]="item.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <!-- {{'VALIDATE_MESSAGE_DESCRIPTION'  |translate}} -->
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="location">Supracategorie</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <!-- <h4>{{ selectedCountry != null ? selectedCountry.name : "" }}</h4> -->
                            <input type="text" id="disabled-input" name="disabled-input" class="form-control" [value]="selectedInterCompany != null ? selectedInterCompany.name : ''" disabled>
                            <span class="input-group-append">
                                <button type="button"  class="btn btn-success"  (click)="askForInterCompany()"><i class="fa fa-globe" aria-hidden="true"></i></button>
                                <!-- <button type="button"  class="btn btn-danger"  (click)="setCity(null)"><i class="fa fa-times-circle" aria-hidden="true"></i></button> -->
                            </span>
                          </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="location">CATEGORIE EN</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <!-- <h4>{{ selectedCountry != null ? selectedCountry.name : "" }}</h4> -->
                            <input type="text" id="disabled-input" name="disabled-input" class="form-control" [value]="selectedCategoryEN != null ? selectedCategoryEN.name : ''" disabled>
                            <span class="input-group-append">
                                <button type="button"  class="btn btn-success"  (click)="askForCategoryEN()"><i class="fa fa-globe" aria-hidden="true"></i></button>
                                <!-- <button type="button"  class="btn btn-danger"  (click)="setCity(null)"><i class="fa fa-times-circle" aria-hidden="true"></i></button> -->
                            </span>
                          </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="ui-toolbar-group-left">
                        <div *ngIf="!deleteConfirmationMode">
                            <button hideIfUnauthorized="DELETE|INTERCOMPANIES" type="button" class="btn btn-danger" (click)="deleteConfirmationMode=true" *ngIf="item.id > 0">Sterge</button>
                        </div>
                        <div *ngIf="deleteConfirmationMode">
                            <button type="button" class="btn btn-success" (click)="deleteItem()">Da</button>
                            <button type="button" class="btn btn-danger" (click)="deleteConfirmationMode=false">Nu</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ui-toolbar-group-right">
                        <div class="text-right">
                            <div *ngIf="!deleteConfirmationMode">
                                <button type="button" class="btn btn-info" (click)="saveItem()" [disabled]="!detailForm.form.valid">Salveaza</button>
                                <button type="button" class="btn btn-secondary" (click)="cancelChanges()">Inchide</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>