.border-1-gray {
  border: 1px solid #D9D9DF;
}

.blue-color {
  color: $main-blue !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.mr-3 {
  margin-right: 15px;
}

.mr-25 {
  margin-right: 25px;
}

.align-items-center {
  align-items: center !important;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-15 {
  margin-right: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.text-right {
  text-align: right !important;
}

.blue-border {
  border: 1px solid #0B4FFF !important;
}

.white-background {
  background-color: #FFF !important;
}

.width-large {
  width: 160px !important;
}

.width-100 {
  width: 100% !important;
}

.white-color {
  color: #FFF !important;
}

.opacity-09 {
  opacity: .9 !important;
}

.opacity-08 {
  opacity: .8 !important;
}

.opacity-07 {
  opacity: .7 !important;
}

.opacity-06 {
  opacity: .6 !important;
}

.form-control {
  font-size: 14px;
}

.modal-dialog-header {
  .modal-filters {
    padding: 0 15px 15px 15px;
  }
}

.mat-dialog-actions {
  margin-bottom: 0 !important;
}

.child-w-200 ::ng-deep .multiselect--control__wrapper {
  width: 200px !important;
}

.child-w-150 ::ng-deep .multiselect--control__wrapper {
  width: 150px !important;
}

.dark-green-color {
  color: #219E62 !important;

  svg {
    fill: #219E62 !important;
  }
}
