<div class="full-width-add-edit-dialog" *transloco="let t; read: 'page_table_add_edit'">
  <div class="modal-dialog-header">
    <h2 class="modal-title mb-0">{{ t((item === null || item.id! > 1) ? 'title_add' : 'title_edit') }}</h2>
    <button type="button" class="btn-close" mat-dialog-close></button>
  </div>

  <mat-dialog-content class="mat-typography" (click)="$event.stopPropagation()">
    <div class="modal-dialog-body">
      <div class="container">

        <div class="row">
          <form [formGroup]="form" (ngSubmit)="save()">
            <div class="row mx-auto">
              <div class="col-10 mx-auto">
                <div class="row">

                  <div class="col-12 col-md-4">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('property_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="property" [placeholder]="t('property_placeholder')">
                      <small *ngIf="form.controls['property'].hasError('required') && form.controls['property'].touched" class="mat-text-warn">{{ t('property_required') }}</small>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group inputs-modal-nomenclature form-group-select_wrapper mt-3 mb-3 d-flex" style="display:grid !important;">
                      <label>
                        {{ t('type_label') }}:
                      </label>
                      <mat-form-field appearance="fill">
                        <mat-label>Tip:</mat-label>
                        <mat-select formControlName="type">
                          <mat-option [value]="null">
                            -
                          </mat-option>
                          <mat-option [value]="'text'">
                            Text
                          </mat-option>
                          <mat-option [value]="'select'">
                            Select
                          </mat-option>
                          <mat-option [value]="'item-select'">
                            Item select
                          </mat-option>
                          <mat-option [value]="'datepicker'">
                            Data
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group inputs-modal-nomenclature form-group-select_wrapper mt-3 mb-3 d-flex" style="display:grid !important;">
                      <label>
                        {{ t('active_label') }}:
                      </label>
                      <mat-form-field appearance="fill">
                        <mat-label>Activ:</mat-label>
                        <mat-select formControlName="active">
                          <mat-option [value]="null">
                            -
                          </mat-option>
                          <mat-option [value]="true">
                            Da
                          </mat-option>
                          <mat-option [value]="false">
                            Nu
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-12 col-md-4">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('placeholder_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="placeholder" [placeholder]="t('placeholder_placeholder')">
                      <small *ngIf="form.controls['placeholder'].hasError('required') && form.controls['placeholder'].touched" class="mat-text-warn">{{ t('placeholder_required') }}</small>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn gray-btn-outline">Cancel</button>
    <button mat-button
            class="btn blue-btn"
            type="submit"
            [disabled]="!form.valid"
            (click)="save()"
    >{{ t('action_save') }}</button>
  </mat-dialog-actions>

</div>
