<div class="full-width-add-edit-dialog" *transloco="let t; read: 'page_routes_add_edit'">
  <div class="modal-dialog-header">
    <h2 class="modal-title mb-0">{{ t((item === null || item.id! < 1) ? 'title_add' : 'title_edit') }}</h2>
    <button type="button" class="btn-close" mat-dialog-close></button>
  </div>

  <mat-dialog-content class="mat-typography" (click)="$event.stopPropagation()">
    <div class="modal-dialog-body">
      <div class="container">

        <div class="row">
          <form [formGroup]="form" (ngSubmit)="save()">
            <div class="row mx-auto">
              <div class="col-10 mx-auto">

                <div class="row">
                  <div class="col-12 col-md-3">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('name_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="name" [placeholder]="t('name_placeholder')">
                      <small *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="mat-text-warn">{{ t('name_required') }}</small>
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('url_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="url" [placeholder]="t('url_placeholder')">
                      <small *ngIf="form.controls['url'].hasError('required') && form.controls['url'].touched" class="mat-text-warn">{{ t('url_required') }}</small>
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('icon_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="icon" [placeholder]="t('icon_placeholder')">
                      <small *ngIf="form.controls['icon'].hasError('required') && form.controls['icon'].touched" class="mat-text-warn">{{ t('icon_required') }}</small>
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('variant_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="variant" [placeholder]="t('variant_placeholder')">
                      <small *ngIf="form.controls['variant'].hasError('required') && form.controls['variant'].touched" class="mat-text-warn">{{ t('variant_required') }}</small>
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('class_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="class" [placeholder]="t('class_placeholder')">
<!--                      <small *ngIf="form.controls['class'].hasError('required') && form.controls['class'].touched" class="mat-text-warn">{{ t('class_required') }}</small>-->
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('position_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="position" [placeholder]="t('position_placeholder')">
<!--                      <small *ngIf="form.controls['position'].hasError('required') && form.controls['position'].touched" class="mat-text-warn">{{ t('position_required') }}</small>-->
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('badge_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <badge-item-select class="form-group-select_wrapper" displayValue="badge" formControlName="badge" placeholder="{{ t('badge_placeholder') }}">
                      </badge-item-select>
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="form-group inputs-modal-nomenclature form-group-select_wrapper mt-3 mb-3">
                      <label>
                        {{ t('active_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <mat-form-field appearance="fill">
                        <mat-label>Active:</mat-label>
                        <mat-select formControlName="active">
                          <mat-option [value]="null">
                            -
                          </mat-option>
                          <mat-option [value]="true">Da</mat-option>
                          <mat-option [value]="false">Nu</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('role_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <roles-item-select class="form-group-select_wrapper" displayValue="name" formControlName="role" placeholder="{{ t('role_placeholder') }}">
                      </roles-item-select>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn gray-btn-outline">Cancel</button>
    <button mat-button
            class="btn blue-btn"
            type="submit"
            [disabled]="!form.valid"
            (click)="save()"
    >{{ t('action_save') }}</button>
  </mat-dialog-actions>

</div>
