<div *transloco="let t; read: 'page_budget_month_component'">
  <div class="content-page-header">
    <app-common-header
      (filterChanged)="doSimpleSearch($event)"
      [showAddNewButton]="'false'">
    </app-common-header>

    <div class="modal-filters mt-15">
      <div hideIfUnauthorized="PROJECT_FILTER|BUDGETBASE" class="filter-content-item child-w-200">
        <projects-item-select [(ngModel)]="projects" selectionType="multiple" placeholder="{{ t('wbs_filter_placeholder') }}" displayValue="name" showMinimizedPlaceHolder="true">
        </projects-item-select>
      </div>

      <div hideIfUnauthorized="ACTIVITY_FILTER|BUDGETBASE" class="filter-content-item child-w-200">
        <activities-item-select [(ngModel)]="activities" selectionType="multiple" placeholder="{{ t('activity_filter_placeholder') }}" displayValue="name" showMinimizedPlaceHolder="true">
        </activities-item-select>
      </div>

      <div hideIfUnauthorized="ACTIVITY_FILTER|BUDGETBASE" class="filter-content-item child-w-200">
        <departments-item-select [(ngModel)]="departments" selectionType="multiple" placeholder="{{ t('department_filter_placeholder') }}Departament" displayValue="name" showMinimizedPlaceHolder="true">
        </departments-item-select>
      </div>

      <div hideIfUnauthorized="EMPLOYEE_FILTER|BUDGETBASE" class="filter-content-item child-w-200">
        <employee-item-select [(ngModel)]="employee" [params]="employeeParams" selectionType="multiple" placeholder="{{ t('owner_filter_placeholder') }}" displayValue="full-name" showMinimizedPlaceHolder="true">
        </employee-item-select>
      </div>

      <div hideIfUnauthorized="ACCMONTH_FILTER|BUDGETBASE" class="filter-content-item child-w-200">
        <acc-months-item-select [(ngModel)]="accMonths" selectionType="multiple" placeholder="{{ t('months_filter_placeholder') }}" displayValue="month" showMinimizedPlaceHolder="true">
        </acc-months-item-select>
      </div>
    </div>
  </div>

  <div class="content-page-header-two d-flex">
    <div class="left-actions d-flex">
      <div class="refresh subheader-actions-wrapper">
        <a (click)="checkForRefresh()">
          <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.6719 3.32812L16.0156 0.984375V8.01562H8.98438L12.2188 4.78125C11.0312 3.59375 9.625 3 8 3C6.34375 3 4.92188 3.59375 3.73438 4.78125C2.57812 5.9375 2 7.34375 2 9C2 10.6562 2.57812 12.0781 3.73438 13.2656C4.92188 14.4219 6.34375 15 8 15C9.15625 15 10.2812 14.6094 11.375 13.8281C12.5 13.0469 13.2656 12.1094 13.6719 11.0156H15.7344C15.2969 12.7656 14.3594 14.2031 12.9219 15.3281C11.4844 16.4531 9.84375 17.0156 8 17.0156C5.8125 17.0156 3.9375 16.2344 2.375 14.6719C0.8125 13.1094 0.03125 11.2188 0.03125 9C0.03125 6.78125 0.8125 4.89062 2.375 3.32812C3.9375 1.76563 5.8125 0.984375 8 0.984375C8.9375 0.984375 9.95312 1.21875 11.0469 1.6875C12.1719 2.125 13.0469 2.67188 13.6719 3.32812Z"/>
          </svg>
        </a>
      </div>
    </div>
    <div class="results d-flex align-items-center">
      <div>
        <span class="blue-color">{{ budgetList._selectedItems ? budgetList._selectedItems.length : '0' }}</span>
        <span [class.blue-color]="budgetList._selectedItems.length > 0"> {{ t('table_selected_text') }}</span>
      </div>
      <div class="vertical-divider mr-15"></div>
      <div>
        <span>{{ budgetList.totalItems ? budgetList.totalItems : '0' }} {{ t('table_results_text') }}</span>
      </div>
    </div>
  </div>

  <app-budget-month-base-list #budgetList id="budgetList"
                              [dataSource]="budgetMonthBaseHttpService"
                              listTemplate="BUDGETMONTHBASES"
                              sortColumn="budgetMonthBase.id"
                              sortDirection="asc"
                              dynamicQuery="true"
                              usePaging="true"
                              [pageSize]= "pageSize"
                              showSimpleSearch="false"
                              [rowSelection]="budgetRowSelection"
                              (selectionChanged)="onBudgetSelectionChanged($event)"
                              notifyOnChange="true">
  </app-budget-month-base-list>
</div>


<!--<div class="animated fadeIn">-->
<!--    <br>-->
<!--    <div class="card">-->
<!--      <div class="card-header" style="background-color: #fff;">-->
<!--            &lt;!&ndash; <button type="button" class="btn btn-outline-secondary" (click)="isCollapsed = !isCollapsed">Filtre </button> &ndash;&gt;-->

<!--            <div hideIfUnauthorized="BUDGETMANAGER_FILTER|BUDGETBASE" class="btn-group" dropdown>-->
<!--                <button type="button" class="btn btn-outline-dark btn-sm"  (click)="selectBudgetManagers()" color="light">Year</button>-->
<!--                <button type="button" dropdownToggle class="btn btn-outline-dark btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >-->
<!--                  <span class="caret"></span>-->
<!--                  <span class="sr-only">Split button!</span>-->
<!--                  <span class="badge badge-danger badge-pill" style="position: absolute;margin-top: -6px;">{{selectedBudgetManagers.length > 0 ? selectedBudgetManagers.length : ''}}</span>-->
<!--                </button>-->
<!--                <ul  class="dropdown-menu" role="menu">-->
<!--                    <li role="menuitem"><a class="dropdown-item" (click)="clearBudgetManagerSelection()">Sterge toate</a></li>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <li role="menuitem" *ngFor="let budgetManager of selectedBudgetManagers"><a class="dropdown-item" (click)="removeFromBudgetManagerSelection(budgetManager)"><i class="fa fa-times"></i> &nbsp;{{ budgetManager.code }}</a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--              </div>-->

<!--              <div hideIfUnauthorized="PROJECT_FILTER|BUDGETBASE" class="btn-group" dropdown>-->
<!--                <button type="button" class="btn btn-outline-dark btn-sm" (click)="selectProjects()" >WBS</button>-->
<!--                <button type="button" dropdownToggle class="btn btn-outline-dark btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >-->
<!--                  <span class="caret"></span>-->
<!--                  <span class="sr-only">Split button!</span>-->
<!--                  <span class="badge badge-danger badge-pill" style="position: absolute;margin-top: -6px;">{{selectedProjects.length > 0 ? selectedProjects.length : ''}}</span>-->
<!--                </button>-->
<!--                <ul  class="dropdown-menu" role="menu">-->
<!--                    <li role="menuitem"><a class="dropdown-item" (click)="clearProjectSelection()">Sterge toate</a></li>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <li role="menuitem" *ngFor="let project of selectedProjects"><a class="dropdown-item" (click)="removeFromProjectSelection(project)"><i class="fa fa-times"></i> &nbsp;{{ project.name }}</a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--              </div>-->

<!--              <div hideIfUnauthorized="ACTIVITY_FILTER|BUDGETBASE" class="btn-group" dropdown>-->
<!--                <button type="button" class="btn btn-outline-dark btn-sm" (click)="selectActivities()" >Activity</button>-->
<!--                <button type="button" dropdownToggle class="btn btn-outline-dark btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >-->
<!--                  <span class="caret"></span>-->
<!--                  <span class="sr-only">Split button!</span>-->
<!--                  <span class="badge badge-danger badge-pill" style="position: absolute;margin-top: -6px;">{{selectedActivities.length > 0 ? selectedActivities.length : ''}}</span>-->
<!--                </button>-->
<!--                <ul  class="dropdown-menu" role="menu">-->
<!--                    <li role="menuitem"><a class="dropdown-item" (click)="clearActivitySelection()">Sterge toate</a></li>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <li role="menuitem" *ngFor="let activity of selectedActivities"><a class="dropdown-item" (click)="removeFromActivitySelection(activity)"><i class="fa fa-times"></i> &nbsp;{{ activity.name }}</a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--              </div>-->

<!--              <div hideIfUnauthorized="EMPLOYEE_FILTER|BUDGETBASE" class="btn-group" dropdown>-->
<!--                <button type="button" class="btn btn-outline-dark btn-sm" (click)="selectEmployees()" >Owner</button>-->
<!--                <button type="button" dropdownToggle class="btn btn-outline-dark btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >-->
<!--                  <span class="caret"></span>-->
<!--                  <span class="sr-only">Split button!</span>-->
<!--                  <span class="badge badge-danger badge-pill" style="position: absolute;margin-top: -6px;">{{selectedEmployees.length > 0 ? selectedEmployees.length : ''}}</span>-->
<!--                </button>-->
<!--                <ul  class="dropdown-menu" role="menu">-->
<!--                    <li role="menuitem"><a class="dropdown-item" (click)="clearEmployeeSelection()">Sterge toate</a></li>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <li role="menuitem" *ngFor="let employee of selectedEmployees"><a class="dropdown-item" (click)="removeFromEmployeeSelection(employee)"><i class="fa fa-times"></i> &nbsp;{{ employee.internalCode }}</a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--              </div>-->
<!--              &nbsp;-->
<!--              <div hideIfUnauthorized="ACCMONTH_FILTER|BUDGETBASE" class="btn-group" dropdown>-->
<!--                <button type="button" class="btn btn-outline-dark btn-sm" (click)="selectAccMonths()" >Luni</button>-->
<!--                <button type="button" dropdownToggle class="btn btn-outline-dark btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >-->
<!--                  <span class="caret"></span>-->
<!--                  <span class="sr-only">Split button!</span>-->
<!--                  <span class="badge badge-danger badge-pill" style="position: absolute;margin-top: -6px;">{{selectedAccMonths.length > 0 ? selectedAccMonths.length : ''}}</span>-->
<!--                </button>-->
<!--                <ul  class="dropdown-menu" role="menu">-->
<!--                    <li role="menuitem"><a class="dropdown-item" (click)="clearAccMonthSelection()">Sterge toate</a></li>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <li role="menuitem" *ngFor="let accMonth of selectedAccMonths"><a class="dropdown-item" (click)="removeFromAccMonthSelection(accMonth)"><i class="fa fa-times"></i> &nbsp;{{ accMonth.year }}</a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--              </div>-->
<!--              &nbsp;-->

<!--              <button hideIfUnauthorized="ROW_SELECTION|BUDGET" type="button" class="btn btn-warning btn-sm" (click)="changeRowSelection()">-->
<!--                <i class="fa fa-list" *ngIf="budgetRowSelection === 'multiple'"></i>-->
<!--                <i class="fa fa-check-square" *ngIf="budgetRowSelection === 'single'"></i>-->
<!--            </button>-->
<!--            &nbsp;-->
<!--            <button hideIfUnauthorized="CLEAR_SELECTION|BUDGET" type="button" class="btn btn-danger btn-sm" (click)="clearSelection()" [style.backgroundColor] = "'rgb(168, 16, 0)'"><i class="fa fa-check"></i></button>-->
<!--            &nbsp;-->
<!--            <button hideIfUnauthorized="CLEAR_FILTER|BUDGET" type="button" class="btn btn-danger btn-sm" (click)="clearFilters()" [style.backgroundColor] = "'rgb(168, 16, 0)'" ><i class="fa fa-close"></i></button>-->
<!--            &nbsp;-->

<!--        <div class="card-header-actions">-->
<!--              <div class="input-group">-->
<!--                <input type="text" class="form-control" placeholder="Cauta..." aria-label="Cauta..." aria-describedby="basic-addon2" [(ngModel)]="filter" (change)="checkForRefresh()">-->
<!--                <div class="input-group-append">-->
<!--                    &lt;!&ndash; <button type="button" class="btn btn-dark" (click)="isCollapsed = !isCollapsed">Action</button> &ndash;&gt;-->
<!--                    <button type="button" class="btn btn-ghost-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [style.backgroundColor]="'rgb(52, 30, 22)'" [style.color]="'burlywood'">-->
<!--                      &lt;!&ndash; <span class="sr-only">Toggle Dropdown</span> &ndash;&gt;-->
<!--                      ...-->
<!--                    </button>-->

<!--                </div>-->
<!--                <div hideIfUnauthorized="PAGE_SIZE|BUDGET" class="btn-group" dropdown>-->
<!--                    <button dropdownToggle type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle">-->
<!--                        Size {{ pageSize }}<span class="caret"></span>-->
<!--                    </button>-->
<!--                    <ul *dropdownMenu class="dropdown-menu" role="menu">-->
<!--                      <li role="menuitem" (click)="onPageUpdate(5)"><a class="dropdown-item">5</a></li>-->
<!--                      <li role="menuitem" (click)="onPageUpdate(10)"><a class="dropdown-item">10</a></li>-->
<!--                      <li role="menuitem" (click)="onPageUpdate(15)"><a class="dropdown-item">15</a></li>-->
<!--                      <li role="menuitem" (click)="onPageUpdate(20)"><a class="dropdown-item">20</a></li>-->
<!--                      <li role="menuitem" (click)="onPageUpdate(30)"><a class="dropdown-item">30</a></li>-->
<!--                      <li role="menuitem" (click)="onPageUpdate(50)"><a class="dropdown-item">50</a></li>-->
<!--                      <li role="menuitem" (click)="onPageUpdate(70)"><a class="dropdown-item">70</a></li>-->
<!--                      <li role="menuitem" (click)="onPageUpdate(100)"><a class="dropdown-item">100</a></li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--              </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card"  style="white-space: nowrap; font-weight: 500;">-->


<!--        <app-budget-month-base-list #budgetList id="budgetList"-->
<!--        [dataSource]="budgetMonthBaseHttpService"-->
<!--        listTemplate="BUDGETMONTHBASES"-->
<!--        sortColumn="budgetMonthBase.id"-->
<!--        sortDirection="asc"-->
<!--        dynamicQuery="true"-->
<!--        usePaging="true"-->
<!--        [pageSize]= "pageSize"-->
<!--        showSimpleSearch="false"-->
<!--        [rowSelection]="budgetRowSelection"-->
<!--        (selectionChanged)="onBudgetSelectionChanged($event)"-->
<!--        notifyOnChange="true">-->
<!--    </app-budget-month-base-list>-->

<!--        </div>-->
<!--        <br>-->


<!--    </div>-->
<!-- </div>-->


<div class="modal fade" bsModal #employeeListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Employees</h4>
            </div>
            <div class="modal-body">
                <app-employee-list #employeeList id="employeeList"
                    [dataSource]="employeeHttpService"
                    dynamicQuery="true"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    usePaging="true">
                </app-employee-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedEmployees()">Selecteaza</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="employeeListModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #accMonthListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Luna contabila</h4>
            </div>
            <div class="modal-body">
                <app-acc-month-list #accMonthList id="accMonthList"
                    [dataSource]="accMonthHttpService"
                    dynamicQuery="true"
                    rowSelection="single"
                    notifyOnChange="false"
                    usePaging="true">
                </app-acc-month-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAccMonths()">Selecteaza</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="accMonthListModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #administrationListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">CostCenters</h4>
            </div>
            <div class="modal-body">
                <app-administration-list #administrationList id="administrationList"
                    [dataSource]="administrationDetailHttpService"
                    dynamicQuery="true"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    usePaging="true">
                </app-administration-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAdministrations()">Selecteaza</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="administrationListModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #partnerListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Partners</h4>
            </div>
            <div class="modal-body">
                <app-partner-list #partnerList id="partnerList"
                    [dataSource]="partnerHttpService"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    usePaging="true">
                </app-partner-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedPartners()">Selecteaza</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="partnerListModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #costCenterListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">CostCenters</h4>
            </div>
            <div class="modal-body">
                <app-cost-center-list #costCenterList id="costCenterList"
                    [dataSource]="costCenterHttpService"
                    dynamicQuery="true"
                    rowSelection="multiple"
                    notifyOnChange="false"
                    usePaging="true">
                </app-cost-center-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedCostCenters()">Selecteaza</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="costCenterListModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" bsModal #companyListModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class="modal-header">
          <h3 class="modal-title pull-left">Companies</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="companyListModal.hide()">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <app-company-list #companyList id="companyList"
              [dataSource]="companyHttpService"
              rowSelection="multiple"
              notifyOnChange="false"
              usePaging="true">
          </app-company-list>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedCompanies()">Selecteaza</button>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="companyListModal.hide()">Inchide</button>
      </div>
  </div>
</div>
</div>


<div class="modal fade" bsModal #uploadModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Incarca fisier</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Import active</h3>
                          <input #fileInputBudget type="file" (change)="loadFileBudget($event)" data-toggle="tooltip" placeholder="Incarca..."/>
                          <div class="row">
                              <br>
                          </div>

                          <button type="button" class="btn btn-outline-success btn-sm" (click)="uploadBudget()" [disabled]="((fileEventBudget === null) || (fileEventBudget === undefined))"  [style.backgroundColor] = "'rgb(0, 130, 19)'" [style.color]="'white'"><i class="fa fa-upload"></i>&nbsp; Import</button>
                          &nbsp;
                          <button type="button" class="btn btn-success btn-sm" (click)="exportTemplate()" [style.backgroundColor] = "'rgb(0, 130, 19)'" [style.color]="'white'" [disabled]="!exportCompleted" ><i class="fa fa-download"></i> &nbsp; Model import </button>
                      </div>
                  </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="uploadModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #importDataBudgetModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Import bugete...</h4>
      </div>
      <div class="modal-body">
          <progressbar [max]="noOfItems" [value]="importIndex" type="success"
          ><b>{{ importIndex }} / {{ noOfItems }}</b></progressbar
        >
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #projectListModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
   <div class="modal-content">
       <div class="modal-header">
           <h4 class="modal-title pull-left">WBS</h4>
       </div>
       <div class="modal-body">
           <project-list #projectList id="projectList"
               [dataSource]="projectHttpService"
               rowSelection="multiple"
               notifyOnChange="false"
               usePaging="true">
           </project-list>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedProjects()">Selecteaza</button>
           <button type="button" class="btn btn-outline-primary btn-sm" (click)="projectListModal.hide()">Inchide</button>
       </div>
   </div>
</div>
</div>

<div class="modal fade" bsModal #activityListModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
   <div class="modal-content">
       <div class="modal-header">
           <h4 class="modal-title pull-left">Activity</h4>
       </div>
       <div class="modal-body">
           <activity-list #activityList id="activityList"
               [dataSource]="activityHttpService"
               rowSelection="multiple"
               notifyOnChange="false"
               usePaging="true">
           </activity-list>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedActivities()">Selecteaza</button>
           <button type="button" class="btn btn-outline-primary btn-sm" (click)="activityListModal.hide()">Inchide</button>
       </div>
   </div>
</div>
</div>

<div class="modal fade" bsModal #departmentListModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Business Unit</h4>
            </div>
            <div class="modal-body">
                <app-department-list #departmentList id="departmentList"
                    [dataSource]="departmentHttpService"
                    rowSelection="single"
                    notifyOnChange="false"
                    [pageSize]="5"
                    usePaging="true">
                </app-department-list>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedDepartments()">Selecteaza</button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="departmentListModal.hide()">Inchide</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #divisionListModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title pull-left">Departament</h4>
      </div>
      <div class="modal-body">
          <app-division-list #divisionList id="divisionList"
              [dataSource]="divisionHttpService"
              rowSelection="multiple"
              notifyOnChange="false"
              [pageSize]="5"
              usePaging="true">
          </app-division-list>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedDivisions()">Selecteaza</button>
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="divisionListModal.hide()">Inchide</button>
      </div>
  </div>
</div>
</div>

<div class="modal fade" bsModal #assetTypeListModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title pull-left">Proiecte</h4>
      </div>
      <div class="modal-body">
          <app-asset-type-list #assetTypeList id="assetTypeList"
              [dataSource]="assetTypeHttpService"
              rowSelection="multiple"
              notifyOnChange="false"
              sortColumn="code"
              [pageSize]="5"
              usePaging="true">
          </app-asset-type-list>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedAssetTypes()">Selecteaza</button>
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="assetTypeListModal.hide()">Inchide</button>
      </div>
  </div>
</div>
</div>

<div class="modal fade" bsModal #projectTypeListModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title pull-left">Cost Type</h4>
      </div>
      <div class="modal-body">
          <app-project-type-list #projectTypeList id="projectTypeList"
              [dataSource]="projectTypeHttpService"
              rowSelection="multiple"
              notifyOnChange="false"
              sortColumn="code"
              [pageSize]="5"
              usePaging="true">
          </app-project-type-list>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-success btn-sm" (click)="setSelectedProjectTypes()">Selecteaza</button>
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="projectTypeListModal.hide()">Inchide</button>
      </div>
  </div>
</div>
</div>

