<div class="full-width-add-edit-dialog" *transloco="let t; read: 'page_device_add_edit'">
  <div class="modal-dialog-header">
    <h2 class="modal-title mb-0">{{ t((item === null || item.id! < 1) ? 'title_add' : 'title_edit') }}</h2>
    <button type="button" class="btn-close" mat-dialog-close></button>
  </div>

  <mat-dialog-content class="mat-typography" (click)="$event.stopPropagation()">
    <div class="modal-dialog-body">
      <div class="container">

        <div class="row">
          <form [formGroup]="form" (ngSubmit)="save()">
            <div class="row mx-auto">
              <div class="col-10 mx-auto">

                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('code_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="code" [placeholder]="t('code_placeholder')">
<!--                      <small *ngIf="form.controls['code'].hasError('required') && form.controls['code'].touched" class="mat-text-warn">{{ t('code_required') }}</small>-->
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('name_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="name" [placeholder]="t('name_placeholder')">
<!--                      <small *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="mat-text-warn">{{ t('name_required') }}</small>-->
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('model_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="model" [placeholder]="t('model_placeholder')">
<!--                      <small *ngIf="form.controls['model'].hasError('required') && form.controls['model'].touched" class="mat-text-warn">{{ t('model_required') }}</small>-->
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('producer_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="producer" [placeholder]="t('producer_placeholder')">
<!--                      <small *ngIf="form.controls['producer'].hasError('required') && form.controls['producer'].touched" class="mat-text-warn">{{ t('producer_required') }}</small>-->
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('platform_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="platform" [placeholder]="t('platform_placeholder')">
<!--                      <small *ngIf="form.controls['platform'].hasError('required') && form.controls['platform'].touched" class="mat-text-warn">{{ t('platform_required') }}</small>-->
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('version_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="version" [placeholder]="t('version_placeholder')">
                      <!--                      <small *ngIf="form.controls['platform'].hasError('required') && form.controls['platform'].touched" class="mat-text-warn">{{ t('platform_required') }}</small>-->
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('uui_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="uui" [placeholder]="t('uui_placeholder')">
                      <!--                      <small *ngIf="form.controls['platform'].hasError('required') && form.controls['platform'].touched" class="mat-text-warn">{{ t('platform_required') }}</small>-->
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('serial_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <input matInput class="form-control" formControlName="serial" [placeholder]="t('serial_placeholder')">
                      <!--                      <small *ngIf="form.controls['platform'].hasError('required') && form.controls['platform'].touched" class="mat-text-warn">{{ t('platform_required') }}</small>-->
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="form-group inputs-modal-nomenclature mt-3 mb-3">
                      <label>
                        {{ t('device_type_label') }}:
                        <span class="required-label-symbol">*</span>
                      </label>
                      <device-type-item-select class="form-group-select_wrapper" formControlName="deviceType" displayValue="code-name" placeholder="{{ t('device_type_placeholder') }}">
                      </device-type-item-select>
<!--                      <small *ngIf="form.controls['deviceType'].hasError('required') && form.controls['deviceType'].touched" class="mat-text-warn">{{ t('device_type_required') }}</small>-->
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn gray-btn-outline">{{ t('action_cancel') }}</button>
    <button mat-button
            class="btn blue-btn"
            type="submit"
            [disabled]="!form.valid"
            (click)="save()"
    >{{ t('action_save') }}</button>
  </mat-dialog-actions>

</div>
