<div class="widgets">
  <div class="row">
    <div class="col-md-12">
        <form role="form" #detailForm="ngForm" novalidate (ngSubmit)="saveItem();" *ngIf="item != null">
            <div class="form-group">
                <label for="text">Text</label>
                <input type="text" class="form-control" placeholder="code..." required maxlength="100"
                    [(ngModel)]="item.text" name="text">

            </div>
            <div class="form-group">
                <label for="variant">Variant</label>
                <input type="text" class="form-control" placeholder="variant" required maxlength="100"
                    [(ngModel)]="item.variant" name="variant">

            </div>

            <br>

            <!-- <div class="col-md-3" style="margin-top: 35px;">
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-dark btn-sm dropdown-toggle">
                        Active {{ item.active === true ? 'DA' : 'NU' }}<span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu" role="menu" style="background-color: #212529;color: ghostwhite;">
                        <li role="menuitem" (click)="item.active = true;">
                            <a class="dropdown-item"> DA </a>
                        </li>
                        <li role="menuitem" (click)="item.active = true;">
                            <a class="dropdown-item"> NU </a>
                        </li>
                    </ul>
                  </div>
              </div>     -->

            <div class="row">
                <div class="col-sm-6">
                    <div class="ui-toolbar-group-left">
                        <div *ngIf="!deleteConfirmationMode">
                            <button type="button" class="btn btn-danger" (click)="deleteConfirmationMode=true" *ngIf="item.id > 0"><i class="fa fa-trash"></i> Delete</button>
                        </div>
                        <div *ngIf="deleteConfirmationMode">
                            <button type="button" class="btn btn-danger" (click)="deleteItem()"><i class="fa fa-check"></i> Da</button>
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteConfirmationMode=false"><i class="fa fa-close"></i> No</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ui-toolbar-group-right">
                        <div class="text-right">
                            <div *ngIf="!deleteConfirmationMode">
                                <button type="button" class="btn btn-primary btn-sm" (click)="saveItem()" [disabled]="!detailForm.form.valid"><i class="fa fa-save"></i> Save</button>
                                <button type="button" class="btn btn-outline-danger btn-sm" (click)="cancelChanges()"><i class="fa fa-close"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>
